header {
    width: 100%;
    height: 48px;
    background: black;
}

.subheader {
    width: 100%;
    background: white;
}

.fluid-wrapper {
    width: 90%;
    max-width: 1160px;
    height: 100%;
    margin: 0 auto 0 auto;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.auth-button {
    display: inline-block;
    border-radius: 4px;
    font-family: Roboto;
    font-size: 0.7rem;
    padding: 8px 14px 8px 14px;
}

.login-button {
    border: 1px solid white;
    color: white;
}

.register-button {
    transition: all 0.2s;
    background: rgb(0, 175, 188);
    color: white;
}

.register-button:hover {
    background: white;
    color: black;
}

.auth {
    position:relative;
    top:50%;
    transform:translateY(-50%);
    float: right;
    display: inline-block;
}

.auth p {
    color: white;
    font-family: Roboto;
    font-size: 0.8rem;
    padding: 10px 5px 0px 5px;
    display: inline-block;
}

.logo {
    display: inline-block;
    margin: 20px 0 20px 0;   
}

.searchbar {
    margin: 20px 0 20px 0;
    float: right;
}

.search-logo {
    display: inline-block;
    margin: 10px 0 10px 0;
    float: right;
}

.menus-bar .fluid-wrapper {
    height: 58px;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
}

.shop-panel {
    display: inline-block;
    width: 150px;
    max-height: 90%;
    float: right;
    margin: 4px 0 5px;
    border-left: 1px solid #767B7A;
    padding: 5px;
}

.shopcart-logo {
    margin: 0 0 0 20px;
}

.home-button {
    display: inline-block;
    height: 100%;
    width: 105px;
    background: #f1f1f1;
    border-style: solid;
    border-right-width: 2px;
}

.home-button:hover {
    transition: 0.8s;
    background: #767B7A;
}

.menus-bar .fluid-wrapper {
    font-family: Roboto;
    text-decoration: none;
    background: #f1f1f1;
}

.menus-bar a {
    float: left;
}

a.aboutus {
    color: black;
    font-size: 0.9em;
    margin: 20px 0 0 18px;
}

a.contactus {
    color: black;
    font-size: 0.9em;
    margin: 20px 0 0 9px;
}

a.home {
    color: black;
    font-size: 1em;
    margin: 18px 0 0 30px;
}

.menus-bar a:hover {
    text-decoration: none;
    color: white;
}

.bottom .women-accesories p {
    position: absolute;
    border-radius: 1px;
    width: 250px;
    left: 50px;
    top: 300px;
    font-size: 1em;
    color: white;
    border: 1px solid white;
    font-family: Raleway;
}

.women-accesories img {
    display: inline-block;
    border: 1px solid black;
}

.bottom .men-collect p {
    display: inline-block;
    position: absolute;
    margin: auto;
    border-radius: 1px;
    width: 198px;
    left: 100px;
    top: 300px;
    font-size: 1.2em;
    color: white;
    border: 1px solid white;
    padding: 5px;
    font-family: Raleway;
}