header, section, footer {
	width: 100%;
}

.fluid-wrapper {
    width: 90%;
    max-width: 1160px;
    height: 100%;
    margin: 0 auto 0 auto;
	-webkit-transform-style: preserve-3d;
  	-moz-transform-style: preserve-3d;
  	transform-style: preserve-3d;
}

/* HEADER */

.topbar, .midbar, .botbar {
	width: 100%;
}

/* TOPBAR */

.topbar {
    height: 48px;
    background: black;
}

.auth {
    display: inline-block;
    float: right;
	position: relative;
	top: 50%;
  	transform: translateY(-50%);
}

.auth-button, .auth p {
    display: inline-block;
    font-family: Roboto;
	font-size: 11px;
	font-weight: bold;
	color: white;
}

.auth-button {
    border-radius: 4px;
    padding: 8px 16px;
}

.login-button {
	transition: all 0.2s;
	background: black;
    border: 1px solid white;
    margin: 0 10px 0 0;
}

.login-button:hover {
	color: black;
	background: white;
}

.register-button {
    transition: all 0.2s;
    background: rgb(0, 175, 188);
    margin: 0 0 0 10px;
}

.register-button:hover {
    background: white;
    color: black;
}

/* MIDBAR */

.site-logo {
	display: inline-block;
    margin: 20px 0 20px 0;
}

.search {
	margin-top: 20px;
	float: right;
    display: inline-block;
}

.searchbar {
	padding: 0 10px;
	font-family: Roboto;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: bold;
	color: black;
	display: inline-block;
	height: 35px;
	width: 200px;
	border-radius: 4px;
	border: 1px solid rgb(225, 225, 225);
}

.search-button {
	
}

/* BOTBAR */

.botbar .fluid-wrapper {
	border-top: 1px solid rgb(241, 241, 241);
	border-bottom: 1px solid rgb(241, 241, 241);
	position:relative;
}

nav {
    display: inline-block;   
}

nav > ul > li {
	padding: 20px 0;
	display: inline-block;
	margin: 0 15px;
}

nav > ul > li:first-child {
	margin-left: 0;
}

nav > ul > li:last-child {
	margin-right: 0;
}

nav > ul > li > a {
	transition: all 0.2s;
	font-family: Roboto;
	color: rgb(105, 112, 113);
	font-size: 12px;
	font-weight: bold;
}

nav > ul > li > a:hover {
	color: black;
}

nav > ul > li > ul {
	display: none;
}

.cart {
	display: inline-block;
	position: absolute;
	right: 0;
	top: 12px;
	z-index: 99;
}

.cart-icon {
	display:inline-block;
}

.cart-desc {
	display:inline-block;
}

/* SHOPS */

.shops {
	margin-top: 30px;
}

.shop-big {
    width: 48%;
    height:400px;
    display: inline-block;
}

.shop-homme {
    background: url("../images/guy.jpeg") center no-repeat;
    background-size: cover;
    margin-right: 4%;
}

.shop-femme {
    background: url("../images/girl.jpeg") center no-repeat;
    background-size: cover;
}

.shop-big a {
	transition: all 0.2s;
	line-height: 400px;
	font-family: Roboto;
	color:white;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	letter-spacing: 2px;
	display: inline-block;
	width: 100%;
	height: 100%;
}

.shop-big a:hover {
	background: rgba(0, 0, 0, 0.3);
}

/* FEATURED TITLE */

.featured-title {
    margin: 30px 0 0 0;
    text-align: center;
    display: inline-block;
}

.featured-title p {
    display: inline-block;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: bold;
    color: black;
    background: rgb(243, 243, 243);
    padding: 10px 50px;
}

.featured-title .line {
    position: relative;
    height: 2px;
    width: 100%;
    bottom: 22px;
    background: rgb(243, 243, 243);
    z-index: -99;
}

/* FEATURED CARDS */

.featured-products {
	margin-top: 30px;
}

.product-card {
	display: inline-block;
	width: 23.5%;
	margin: 0 1% 0 1%;
}

.product-card:first-child {
	margin-left: 0;
}

.product-card:last-child {
	margin-right: 0;
}

.product-card .image {
	background-color: #ededed;
	width: 100%;
	height: 300px;
}

.product-card .description {
	width: 100%;
	padding: 16px 10px 10px 10px;
	border: 1px solid #efefef;
	border-top: none;
}

.product-card .description .name,
.product-card .description .price,
.product-card .description .categories,
.product-card .description .addtocart{
	font-family: Roboto;
    font-weight: bold;
    color: black;
}

.product-card .description .categories {
	font-size: 14px;
	color: #aaa;
	font-weight: normal;
}

.product-card .description .name {
	margin-top: 3px;
	font-size: 18px;
}

.product-card .description .price {
	margin-top: 8px;
	font-size: 14px;
}

.product-card .description .addtocart {
	transition: all 0.2s;
	margin-top: 8px;
	padding-top: 10px;
	display: inline-block;
	font-weight: normal;
	font-size: 13px;
	width: 100%;
	border-top: 1px solid #efefef;
}

.product-card .description .addtocart:hover {
	color: rgb(0, 175, 188);
}

/* FOOTER */

footer {
	margin: 30px 0;
}

footer .fluid-wrapper {
	border-top: 1px solid rgb(241, 241, 241);
	padding: 20px 0; 
}

.copyright, .backoffice-link {
	color: rgb(105, 112, 113);
	font-family: Roboto;
	font-size: 14px;
	font-weight: normal;
}

.copyright {
    float: left;
}

.backoffice-link {
	transition: all 0.2s;
    float: right;
}

.backoffice-link:hover {
	color: rgb(0, 175, 188);
}

/* PRODUCT DESC */
